<h1> Tasks! </h1>
<!-- Each task name in the list should link to a show action that will render a new view for the user. -->

<ul>
  <% @task_list.each do |t| %>
    <li>
      <%= link_to(t[:title], task_path(t)) %>
      <ul>
        <li>
          <%= show_status(t) %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>

<!-- Be able to create a new task:
The home page should contain a link to Add a new task. This will give the user a form to fill out with the appropriate task fields.
After the new task is added, the site should take the user back to the home page which displays the full list of tasks. The new task that was just added should be included in the full list of tasks. -->
<div class="new_task">
  <h2>Add a new task</h2>
  <form class="" action="/tasks" method="post" accept-charset="utf-8">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <label for="title" id="blogs">Task</label>
    <input type="text" name="title" value="" id="title">

    <label for="description">Short Description</label>
    <input type="text" name="description" value="" id="description">

    <input type="submit" value="Submit">
  </form>
</div>
