<%= content_tag(:h1) do
  @this_task[:title]
  end %>

<ul>
  <li>
    <%= show_description %>
  </li>
  <li>
    <%= show_status %>
  </li>
</ul>

<!-- The show view should include the complete information about the task: name, description, completion status, and completion date. -->
