<article>
  <header>
    <h2> Error</h2>
  </header>
  <p>Either this task does not belong to you, or this task does not exist.</p>
  <p>Code: WU1234</p>
  <%= button_to "Back to my tasks", tasks_path, method: :get %>
</article>
