
header {
  background: linear-gradient( 45deg, #33cccc, #ffb3ff);
  width: 70%;
  position: relative;
  padding: 10px 10px 30px 10px;
  border-radius: 15px;
  clear: both;
}

header h1, header td {
  color: white;
}

header table {
  float: right;
}

body {
  font-family: sans-serif;
}

.task-list td {
  border: black thin solid;
}

.new-task {
  background-color: pink;
  padding: 0.5px 10px 10px 10px;
  border-radius: 15px;
  width: 70%;
}

.task-list, .task {
  background: linear-gradient( 45deg, #33cccc, #ffb3ff);
  padding: 0.5px 10px 10px 10px;
  border-radius: 15px;
  width: 70%;
}
