// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
}

.task-list td {
  border: black thin solid;
}

.new-task {
  background-color: pink;
  padding: 0.5px 10px 10px 10px;
  border-radius: 15px;
  width: 70%;
}

.task-list, .task {
  background: linear-gradient( 45deg, #33cccc, #ffb3ff);
  padding: 0.5px 10px 10px 10px;
  border-radius: 15px;
  width: 70%;
}
